.image-container {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.image-container img {
    width: 100vw;
    height: auto;
}

.header {
    height: 100%;
    overflow: hidden;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
}

.header {
    color: white;
    top: 50%;
    right: -5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    transform: translate(50%, -50%);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: start;
    letter-spacing: 2px;
    opacity: 0.8;
    padding-left: 2rem;
}
.title{
    font-size: 1.4rem;
}

.description {
    font-size: 0.8rem;
    width: 40%;
}

.btn-on-image {
    width: fit-content;
    padding: 5px 30px;
    background-color: #E70606;
    color: white;
    border: 2px solid transparent;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 1px;
}

.btn-on-image:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
    border-color: black;
}
