
@tailwind base;
@tailwind components;
@tailwind utilities;

.desk{
    display: block;
}
.mobo{
    display: none;
}

.img{
    width: 90%;
}
.hero-container{
    margin-top: 2%;
    max-width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2%;
    padding: 0 4%;
}
.about{
    width: 90%;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-indent: 2px;
}
.welcome{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1;
    span{
        color: #E70606;
        font-weight: 800;
    }
}
.gr{
    text-transform: uppercase;
}
h3{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 2%;
    line-height: 1;
    span{
        font-weight: 700;
        color: #E70606;
    }
}
.hash{
    font-size: 2.8rem;
    font-weight: 900;
    color: #E70606;
}
.button{
    outline: none;
    border: none;
    font-weight: 300;
    letter-spacing: 1px;
}
.btn{
    padding: 1rem 2rem;
    border: 1px solid #E70606;
    color: #E70606;
    background: none;
    outline: none;
    border-radius: 0.5rem;
}
.button-container{
    margin-top: 4%;
    display: flex;
    gap: 2rem;
    z-index: 0;
}

@media (max-width: 1000px){
    .welcome{
        font-size: 2rem;
    }
    .about{
        font-size: 1rem;
    }
}
@media (max-width: 600px){
    .hero-container{
        display: block;
    }
    .desk{
        display: none;
    }
    .mobo{
        display: block;
    }
    .welcome{
        font-size: 1.5rem;
    }
    .about{
        width: 100%;
    }
    .btn{
        padding: 0.5rem 1rem;
    }
    .button-container{
        flex-direction: column;
    }
}